# Procesamiento de datos

El primer paso en el preprocesamiento de datos es cargar la base de datos en un DataFrame para su posterior análisis y manipulación.

In [32]:
import pandas as pd

df = pd.read_csv("assets/datos_proyecto_teams.csv")

## Análisis de Variables:
Para obtener un resumen estadístico de las variables numéricas, utilizamos:

In [58]:
df.describe()

,Anio,ID_Cliente,Edad,Frecuencia_Compra,Monto_Total_Gastado,Nivel_Satisfaccion,Cantidad_Devoluciones,Usa_Promociones,PIB,Desempleo,Inflacion,Confianza_Consumidor,Precios_Vivienda,Tasas_Interes,Endeudamiento
count,40000.000000,40000.000000,38000.000000,38000.000000,38021.000000,38017.000000,40000.000000,40000.00000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000,40000.000000
mean,2011.375000,250.500000,35.623684,5.142605,738.259122,8.381755,1.563025,0.45415,132.205274,7.394391,2.521113,70.841849,215072.491666,4.194942,85.185408
std,7.398361,144.339083,11.710220,2.371275,257.294584,1.642600,1.272564,0.49790,22.379293,2.353517,0.662488,10.448727,39129.873283,0.978765,12.229236
min,2000.000000,1.000000,18.000000,1.000000,100.000000,1.000000,0.000000,0.00000,102.312438,3.885450,1.626465,40.853916,156660.256540,2.358798,67.458029
25%,2004.750000,125.750000,27.000000,3.000000,562.188015,7.266214,1.000000,0.00000,113.821652,5.680660,2.113829,64.369601,178893.926438,3.396788,74.673619
50%,2011.000000,250.500000,35.000000,5.000000,735.040002,8.751857,1.000000,0.00000,130.118796,7.673457,2.334136,72.770067,217727.575032,4.372869,84.876632
75%,2018.000000,375.250000,44.000000,7.000000,907.687807,10.000000,2.000000,1.00000,147.771465,8.907863,2.833397,77.783046,249233.475320,5.101928,94.505757
max,2024.000000,500.000000,75.000000,15.000000,1701.581040,10.000000,5.000000,1.00000,231.755489,20.000000,4.486326,87.573336,280482.856566,5.687831,119.502286

Para explorar las variables categóricas del dataset, empleamos:

In [47]:
df.describe(include = object)

       Categoria_Favorita
count               40000
unique                  4
top           Electrónica
freq                13835